.image-gradient {
    position: relative;
}

.image-gradient::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* small height is fine */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        #f4f6f8 70%,  
        #f4f6f8 100%               
    );
    pointer-events: none;
}
