.blob {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(333deg);
  z-index: -20;
  opacity: 0.3;
  width: 800px;
  height: 800px;
  position: absolute;
}

.blob-blue-fixed {
  top: -500px;
  left: -200px;
  opacity: 0.1;
}

.blob-blue {
  top: -500px;
  left: -200px;
  animation: blobMoveRight 3s ease-in-out infinite alternate;
}

.blob-purple {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(21deg);
  top: -500px;
  left: 250px;
  animation: blobMoveRight 2s ease-in-out infinite alternate;
}

.blob-voilet {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(250deg);
  top: -500px;
  left: 500px;
  animation: blobMoveLeft 4s ease-in-out infinite alternate;
}

.blob-yellow {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(108deg);
  top: -500px;
  right: -200px;
  opacity: 0.3;
  animation: blobMoveLeft 3s ease-in-out infinite alternate;
}

.blob-blue-highlight {
  top: -80px;
  left: 0px;
  opacity: 0.3;
  animation: blobMoveRight 3s ease-in-out infinite alternate;
}

.blob-purple-highlight {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(21deg);
  top: -80px;
  left: 300px;
  opacity: 0.1;
  animation: blobMoveRight 2s ease-in-out infinite alternate;
}

.blob-voilet-highlight {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(250deg);
  top: -80px;
  left: 500px;
  opacity: 0.1;
  animation: blobMoveLeft 4s ease-in-out infinite alternate;
}

.blob-yellow-highlight {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(108deg);
  top: -80px;
  right: -200px;
  opacity: 0.1;
  animation: blobMoveLeft 3s ease-in-out infinite alternate;
}

@keyframes blobMoveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
@keyframes blobMoveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}

.card {
  position: relative;
  border-radius: 20px;
  background: #0b0b0b;
  color: white;
  width: 50%;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px;
  border-radius: inherit;
  background: url("/background10.jpg") center/contain;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.backgournd-image {
  background-image: url("/background10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-lines {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 40px 40px;

  -webkit-mask-image: radial-gradient(
    circle at center,
    black 40%,
    transparent 75%
  );
  mask-image: radial-gradient(circle at center, black 40%, transparent 75%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.bot-float {
  animation: float 3s ease-in-out infinite;
}