.blob {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(333deg);
  z-index: -20;
  opacity: .3;
  width: 800px;
  height: 800px;
  position: absolute;
}

.blob-blue-fixed {
  top: -500px;
  left: -200px;
  opacity: .1;
}

.blob-blue {
  top: -500px;
  left: -200px;
  animation: blobMoveRight 3s ease-in-out infinite alternate;
}

.blob-purple {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(21deg);
  top: -500px;
  left: 250px;
  animation: blobMoveRight 2s ease-in-out infinite alternate;
}

.blob-voilet {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(250deg);
  top: -500px;
  left: 500px;
  animation: blobMoveLeft 4s ease-in-out infinite alternate;
}

.blob-yellow {
  filter: blur(70px) brightness(1.1) contrast(100%) hue-rotate(108deg);
  top: -500px;
  right: -200px;
  opacity: 0.3;
  animation: blobMoveLeft 3s ease-in-out infinite alternate;
}

@keyframes blobMoveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200px);
  }
}
@keyframes blobMoveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}

.service-card-background {
  background-image: url("/background10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-card-background2 {
  background-image: url("/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  border-radius: 20px;
  background: #0b0b0b;
  color: white;
  width: 50%;
  overflow: hidden;  
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px;
  border-radius: inherit;
  background: url("/background10.jpg") center/contain;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}