.service-section{
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  position: relative; 
}
/* 
.mySwiper.left-glow::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, var(--color-bg-primary), transparent);
  filter: blur(0px);
  pointer-events: none;
  z-index: 20;
}

.mySwiper.right-glow::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to left, var(--color-bg-primary), transparent);
  filter: blur(0px);
  pointer-events: none;
  z-index: 20;
} */